:root{
    --primary: rgb(120, 67, 67);
    --danger: rgb(71, 71, 121);
    --success: rgb(69, 138, 69);
    --warning: rgb(101, 101, 57);
    --white: rgb(242, 239, 239);
    --dark: rgb(53, 53, 53);
}
.btn{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btn:hover{
    transform: translateY(-3px);
}
/* button colors etc. */
.btn--primary--solid{
    background-color: var(--primary);
    color: var(--white);
    border:none;
}
.btn--warning--solid{
    background-color: var(--warning);
    color: var(--white);
    border:none;
}
.btn--danger--solid{
    background-color: var(--danger);
    color: var(--white);
    border:none;
}
.btn--success--solid{
    background-color: var(--success);
    color: var(--white);
    border:none;
}
.btn--primary--outline{
    background-color: transparent;
    color: var(--dark);
    border: 2px var(--primary) solid;
}
.btn--danger--outline{
    background-color: transparent;
    color: var(--dark);
    border: 2px var(--danger) solid;
}
.btn--success--outline{
    background-color: transparent;
    color: var(--dark);
    border: 2px var(--success) solid;
}
.btn--warning--outline{
    background-color: transparent;
    color: var(--dark);
    border: 2px var(--warning) solid;
}
/* button sizes */
.btn--small{
    padding: 10px 20px;
    font-size: 18px;
    min-width: 120px;
    
}
.btn--medium{
    padding: 15px 30px;
    font-size: 20px;
    min-width: 200px;
}
