.container-starting-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;


}
.starting-form>h1{
    font-size: 100px;
}
.starting-form{
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    padding-bottom: 100px;
    border-radius: 18px;
    display: flex;
    width: 50%;
}
.btns{
    margin:10px
}
